.idea
*.egg-info
qgis-projects/data
qgis-projects/**/*.qgs~
qgis-projects/**/*.qgz~
qgis-projects/atlas
scripts/.env
.python-version
dominode-bootstrapper/.python-version
dominode-bootstrapper/dominode_bootstrapper/__pycache__/

